<div class="ui red fixed inverted menu">
  <center><a class="item">
    <strong>SEARCH</strong>
  </a></center>
</div>
<center>
  <h2>Start Adding To Your Mix</h2>

<div class="field"{{input value=newSearchTerm placeholder="search"}}></div>
<div class="ui circular red button"{{action "search"}}><center><i class="search icon"></i></center></button>
</center>
{{outlet}}
