<div class="ui teal fixed inverted menu">
  <center><a class="item">
    {{#link-to "playlists.create" class="navLink"}}<i class="add circle icon"></i> Create Playlist{{/link-to}}
    {{#link-to "videos.search" class="navLink"}}<i class="search icon"></i> Search Videos{{/link-to}}
  </a></center>
</div>




{{outlet}}
