<div class="ui red fixed inverted menu">
  <center><a class="item">
    {{#link-to "videos.create"}} Create Playlist{{/link-to}}
    {{#link-to "videos.search"}} Search Videos{{/link-to}}
  </a></center>
</div>




{{outlet}}
